.cell{
    padding:2px;
    height: 50px;
    background: salmon;
}

.empty{
    justify-items: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: white;
}

.player1{
    justify-items: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: red;
}

.player2{
    justify-items: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: blue;
}
