:root {
    --player1-color: #ff7675;
    --player2-color: #74b9ff;
    --player1-highlighter: #fab1a0;
    --player2-highlighter: #76afe9;
    
}


.game{
    font-family: 'Indie Flower', cursive;
}
.header{
    padding:10px;
    display: grid;
    grid-template-areas: ". p1 . . p2 .";
}
.header > * {
    height: 25px;
    border-radius: 50px;
}
.player1_name{
    grid-area: p1;
    background-color: #ff7675;
}

.player2_name{
    grid-area: p2;
    background-color: #74b9ff;
}

.board{
    padding:25px;
}

.highlight1{
    box-shadow:  0px 30px 18px  var(--player1-highlighter);  
}
.highlight2{
    box-shadow:  0px 30px 18px var(--player2-highlighter); 
}

.tie-dialog{
    background-color: whitesmoke;
}

.player1-won-dialog{
    background-color: var(--player1-color);
}

.player2-won-dialog{
    background-color: var(--player2-color); 
}