.header{
    display: grid;
    grid-template-areas: "p1 . . p2";
}

.player1_name{
    grid-area: p1;
    background-color: blueviolet;
}
.player2_name{
    grid-area: p2;
    background-color: palevioletred;
}

.board{
    padding:5px;
}