.dialog-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content:center;
    align-items: center;
  }
  
  .dialog {
    width: 50%;
    align-items:  center;
    border-radius: 15px;
  }

  .dialog-form {
    background-color:pink;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
  }
  
  .new-game-btn{
    font-family: 'Work Sans', sans-serif;
    margin:5px;
    border-radius:3px;
  }